---
const {
  imageSrc,
  imageAlt,
  quote,
  name,
  position,
  class: className,
  ...rest
} = Astro.props;
---

<article class:list={[className, "testimonial"]} {...rest}>
  <img class="testimonial__image" src={imageSrc} alt={imageAlt} />
  <blockquote class="testimonial__quote">{quote}</blockquote>
  <div class="testimonial__info">
    <h4 class="testimonial__name">{name}</h4>
    <p class="testimonial__position">{position}</p>
  </div>
</article>

<style>
  .testimonial {
    display: grid;
    justify-items: center;
    text-align: center;

    @media (max-width: 47.9999rem) {
      gap: 2rem;
    }
  }

  .testimonial__image {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
  }

  .testimonial__quote {
    color: var(--clr-neutral-400);
  }

  .testimonial__name {
    color: var(--clr-neutral-800);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
  }

  .testimonial__position {
    color: var(--clr-neutral-300);
    font-size: var(--fs-200);
  }
</style>
